.flash-box
.wrapper
.chat-side
  = render 'side_bar'
.chat-main
  .main-header
    .current-group{"data-group_id": "#{@group.id}"}
      %h2.current-group__name 
      = @group.name
      %ul.member-list
        Member：
        %li.member-list__member pompompumart
        %li.member-list__member aaaa
        %li.member-list__member mimimi
    = link_to edit_group_path(@group) do
      .main-header__edit-btn Edit
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input__text', placeholder: 'type a message'
        = f.label :image, class: 'image-label' do
          %i.far.fa-image
        =f.file_field :image, class: 'message__image'
      = f.submit 'Send', class: 'new-message__submit-btn'