.flash-box
.wrapper
.chat-side
  .side-header
    %p.side-header__user-name mimimi
    %ul.user-menu
      %li.user-menu__edit-user
        = link_to("/groups/new") do
          %i.user-menu__edit-icon.fas.fa-edit
      %li.user-menu__new-group
        = link_to("/users/426/edit") do
          %i.user-menu__edit-icon.fas.fa-cog.fa-inverse
  = render 'groups'
.chat-main
  .main-header
    .current-group{"data-group_id" => "845"}
      %h2.current-group__name アイウエオ
      %ul.member-list
        Member：
        %li.member-list__member pompompumart
        %li.member-list__member aaaa
        %li.member-list__member mimimi
    = link_to ("/groups/845/edit") do
      .main-header__edit-btn Edit
  .messages
    = render 'message'
  .form
    %form#new_message.new-message{"accept-charset" => "UTF-8", action: "/groups/845/messages", enctype: "multipart/form-data", method:  "post"}
      %input{name:"utf8", type:"hidden", value:"✓"}/
      %input{name: "authenticity_token", type: "hidden", value: "o0O4JNenQtsfyzENn2FtoViQNoTlc3GiL7LXyzHxDWV4I7vk+XbGZ91iYpAdiX28XGlj5mgwRAjYxDax4OdzzQ=="}/
      .input-box
        %input#message_content.input-box__text{name: "message[content]", placeholder: "  type a message", type: "text"}/
        %label.image-label{for: "message_image"}
          %i.far.fa-image
          %input#message_image.image-label__input{name: "message[image]", type: "file"}/
      %input.new-message__submit-btn{"data-disable-with" => "Send", name: "commit", type: "submit", value: "Send"}/
