.flash-box
.wrapper
.chat-side
  = render 'side_bar'
.chat-main
  .main-header
    .current-group{"data-group_id": "845"}
      %h2.current-group__name アイウエオ
      %ul.member-list
        Member：
        %li.member-list__member pompompumart
        %li.member-list__member aaaa
        %li.member-list__member mimimi
    = link_to ("/groups/845/edit") do
      .main-header__edit-btn Edit
  .messages
    = render 'message'
  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input__text', placeholder: 'type a message'
        = f.label :image, class: 'image-label' do
          %i.far.fa-image
          %input#message_image.image-label__input{:name => "message[image]", :type => "file"}/
      = f.submit 'Send', class: 'new-message__submit-btn'